[Desktop Entry]
Type=Application
Categories=Settings;System;Qt;X-SuSE-YaST;X-SuSE-YaST-System;

X-KDE-ModuleType=Library
X-KDE-HasReadOnlyMode=true
X-SuSE-YaST-Call=cio

X-SuSE-YaST-Group=System
X-SuSE-YaST-Argument=
X-SuSE-YaST-RootOnly=true
X-SuSE-YaST-AutoInst=
X-SuSE-YaST-Geometry=
X-SuSE-YaST-SortKey=
X-SuSE-YaST-AutoInstResource=
X-SuSE-YaST-Keywords=blacklist,io,channels,system,s390,cio_ignore,zconf

Icon=yast-cio
Exec=xdg-su -c "/sbin/yast2 cio"

Name=YaST IO Channels
GenericName=IO Channels
Comment=Blacklist IO Channels
StartupNotify=true
